body{
    color:black;
}



.foodlist{
   position: absolute;
   color: white;
    left: 50px;
    top:300px ;
    width: 80%; 
    color:white;
}
.essentials{
   position: absolute;
   color: white;
    left: 50px;
    top:300px ;
    width: 80%; 
    color:white;

}
.moneylist{
    position: absolute;
    color: white;
    left: 50px;
    top:300px ;
    width: 80%; 
    font-size: 20px;
    color:white;
}

.head{
    position: absolute;
    color: white;
    top: 90px;
    left: 50px;
    width: 80%;
    color:white;
    font-size: 90px;


}

.topic{
    position: absolute;
    color: white;
    left: 50px;
    top: 225px ;
    width: 80%;
    color:white;


}

.head1{
    position: absolute;
    color: white;
    top: 100px;
    left: 50px;
    width: 80%;
    font-size: 90px;
    color:white;

}

.essentials_slogan{
    position: absolute;
    color: white;
    left: 50px;
    top:170px ;
    width: 80%;
    font-size: 30px;
    color:white;

}

.topic2{
    position: absolute;
    color: white;
    left: 50px;
    top:225px ;
    width: 80%;
    color:white;

}





.head2{
    position: absolute;
    color: white;
    top: 100px;
    left: 50px;
    width: 80%;
    color:white;

}

.for{
    color: white;
    font-size: 50px;

}
.for1{
    color:white;

}

.mar{
    margin-top: 60px;
}