body{
	background-color: white;
    margin: 0;
}


/*.topbar {
    
    
    height: 60px;
    background-color: solid grey;
    
}*/

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}
/*.navbar {
	font-size: 20px;
	background-color: 7c7a7a;
	height:100px;
    text-align: center;
    padding: 14px 16px;

}*/

.topnav {
    
    background-color: #333;
}


.topnav a {
    float: left;
    
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    
}

	background-color: blue;
}

.head{
	position: absolute;
	color: white;
	top: 50px;
	left: 50px;
	border-style: solid;
	}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/*.sidebar {
    width: 180px;
    background: #ff6677;
    position: absolute;
    top: 90;
    height: 100%;
    padding:15px 5px;

}*/

.containermoney {
    float: left;
    border:blue;
}

/* Left and right column */
.containeressentials {
    width: 25%;
    border:blue;
}

/* Middle column */
.containerfood {
    width: 50%;
    border:blue;
}


@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
/*.main-content {
    /*background: #ffffcc;*/
/*    position: absolute;
    top: 90;
    left: 200px;
    border:5px solid blue;
    margin:5px;
    padding:15px 10px;
=======
button{
	position: fixed;
	color: red;
	left: 1100px;
	top:60px;
	width:100px;
	height:50px;
>>>>>>> 8f84b488bc10c184662a363ccf7a39391e339c61
}

.topic{
	position: absolute;
	color: white;
	left: 50px;
	top:180px ;
	border-style: solid red;
}

.head1{
	position: absolute;
	color: white;
	top: 50px;
	left: 50px;
	border-style: solid red;

}

.topic1{
	position: absolute;
	color: white;
	left: 50px;
	top:180px ;
	border-style: solid red;

}

.topic2{
	position: absolute;
	color: white;
	left: 50px;
	top:180px ;
	border-style: solid red;

}

.head2{
	position: absolute;
	color: white;
	top: 50px;
	left: 50px;
<<<<<<< HEAD
	top:150px ;
}*/
