body{

	background-color: white;
    margin: 0;

}


/*.topbar {
    
    
    height: 60px;
    background-color: solid grey;
    
}*/

.header {
    position:fixed;
    background-color: white;
    top:25px;
    left:25px;
    padding: 20px;
}
/*.navbar {
	font-size: 20px;
	background-color: 7c7a7a;
	height:100px;
    text-align: center;
    padding: 14px 16px;

}*/

.topnav {
    position:fixed;
    background-color: #333;
}




.head{
	position: absolute;
	color: white;
	top: 50px;
	left: 50px;
	border-style: solid;

}

.topic{
	position: absolute;
	color: white;
	left: 50px;
	top:180px ;
	border-style: solid;
	width: 100%;


}

.head1{
	position: absolute;
	color: white;
	top: 50px;
	left: 50px;
	border-style: solid;
	width: 100%;

}

.topic1{
	position: absolute;
	color: white;
	left: 50px;
	top:180px ;
	border-style: solid;
	width: 100%;

}

.topic2{
	position: absolute;
	color: white;
	left: 50px;
	top:180px ;
	border-style: solid;
	width: 100%;

}

.head2{
	position: absolute;
	color: white;
	top: 50px;
	left: 50px;
	top:150px ;
}






.topnav :hover {
    background-color: black;
    
}


/*.sidebar {
    width: 180px;
    background: #ff6677;
    position: absolute;
    top: 90;
    height: 100%;
    padding:15px 5px;

}*/

.containermoney {
    position: absolute;
    border: 1px solid blue;
}

/* Left and right column */
.containeressentials {
    position: absolute;
    border:1px solid blue;
}

/* Middle column */
.containerfood {
    position: absolute;
    border: 1px solid blue;
}



/*.main-content {
    /*background: #ffffcc;*/
/*    position: absolute;
    top: 90;
    left: 200px;
    border:5px solid blue;
    margin:5px;
    padding:15px 10px;
=======
button{
	position: fixed;
	color: red;
	left: 1100px;
	top:60px;
	width:100px;
<<<<<<< HEAD
	height:50px;
>>>>>>> 8f84b488bc10c184662a363ccf7a39391e339c61
=======
	height:60px;

>>>>>>> f27cf50dade49c4dfa10bf394cfc1797869bb1e1
}


.cont{
	position: absolute;
	color: black;
	top: 100px;
	left: 50px;
	width: 100%;
	border-style: solids;
}

.us{
	position: absolute;
	color: black;
	top: 50px;
	left: 50px;
	width: 100%;
	border-style: solids;
}
.emails{
	position: absolute;
	color: black;
	top: 50px;
	left: 50px;
	width: 100%;
	border-style: solids;

.unrwa{
	position: absolute;
	color: white;
	top: 270px;
	left: 50px;
	border-style: solid;
	width: 100%;


}
