html{
	height: 100%;
}
body{
    background-color:white;
   height: 100%;
}

/*button{
    position: fixed;
    color: red;
    left: 1100px;
    top:60px;
    width:100px;
    height:60px;*/

}


.unrwa{
    position: absolute;
    color: white;
    top: 270px;
    left: 50px;
    border-style: solid;
    width: 80%;

}

.unicef{
    position: absolute;
    color: white;
    top: 270px;
    left: 50px;
    border-style: solid;
    width: 80%;

}


.baby{
    position: absolute;
    color: white;
    top: 400px;
    left: 50px;
    border-style: solid;
    width: 80%;

}



.cont{
	position: absolute;
	color: black;
	top: 95px;
	left: 50px;
	width: 90%;


}
hr{
	background-color:black;
}

.names{
	position: absolute;
	color: black;
	top: 175px;
	left: 50px;
	width: 90%;
	border-style: solid;
	padding-left: 10px
}
.ournames{
	position: absolute;
	color: black;
	top: 235px;
	left: 50px;
	width: 90%;
	padding-left: 10px

}


.emails{
	position: absolute;
	color: black;
	top: 375px;
	left: 50px;
	width: 90%;
	border-style: solid;
	padding-left: 10px;

}
.themail{
	position: absolute;
	color: black;
	top: 390px;
	left: 175px;
	width: 90%;
	padding-left: 10px;
	display: inline;

}
.info{
	position: absolute;
	color: black;
	top: 270px;
	left: 50px;
	width: 90%;
	border-style: solid;
}
.about{
	position: absolute;
	color: black;
	top: 140px;
	left: 50px;
	width: 90%;
	border-style: solid;
}
.us{
    position: absolute;
    color: black;
    top: px;
    left: 50px;
    width: 100%;
    border-style: solid;
}
.about-h1{
	padding-left: 35%;

}
.send_message{
    position: fixed;
    color: black;
    top: 470px;
    left: 50px;

}
.contact-h1{
	padding-left: 35%;
}

.add_class_text{
    position: absolute;
    color: black;
    top: 50px;
    left: 50px;
    width: 90%;
    border-style: solid;

}

.donate_form{
    position: absolute;
    color: black;
    top: 180px;
    left: 50px;
    border-style: solid;
}

.organization_name{
    position: absolute;
    color: black;
    top: 197px;
    left: 50px;
   
}

.organization_name1
{
    width: 465px;
    height: 35px;
}
.about_organization{
    position: absolute;
    color: black;
    top: 244px;
    left: 50px;

 
}

.about_organization1{
    width:465px;
    height: 35px;

}

.organization_type_text{
    position: absolute;
    color: black;
    top: 290px;
    left: 50px;
    width: 50%;
    display: inline-block;

}

.organization_type{
    position: absolute;
    color: black;
    top: 365px;
    left: 50px;
    width: 50%;
    border-style: solid;
}

.contact_organization_text{
    position: absolute;
    color: black;
    top: 408px;
    left: 50px;
    width: 50%;
}

.contact_organization{
    position: absolute;
    color: black;
    top: 479px;
    left: 50px;
    width: 90%;

}

/*.contact_organization1{
    width: 200px;
    height: 35px;
}*/

.about_donations_text{
    position: absolute;
    color: black;
    top: 537px;
    left: 50px;
    width: 50%;
}

.about_donations{
    position: absolute;
    color: black;
    top: 607px;
    left: 50px;
    width: 50%;
    border-style: solid;
}

.cause_text{
    position: absolute;
    color: black;
    top: 650px;
    left: 50px;
    width: 50%;
}

.cause{
    position: absolute;
    color: black;
    top: 700px;
    left: 50px;
    width: 50%;
    border-style: solid;
}

.submit{
    position: absolute;
    color: black;
    top: 143px;
    left: 0px;
    width: 90%;

}

.submit1{
    width: 200px;
    height: 35px;
}

.add_home_button{
    position: absolute;
    color: black;
    top:140px;
    left: 800px;

}

.add_home_button1{
    width: 60px;
    height: 30px;
    display: inline-block;
}

.foodlist{
   position: absolute;
   color: white;
    left: 50px;
    top:300px ;
    border-style: solid;
    width: 80%; 
}
.essentials{
   position: absolute;
   color: white;
    left: 50px;
    top:300px ;
    border-style: solid;
    width: 80%; 
}
.moneylist{
    position: absolute;
    color: white;
    left: 50px;
    top:300px ;
    border-style: solid;
    width: 80%; 
    font-size: 20px;
    color:white;
}
.profiles{
	position: absolute;
    left: 50px;
    top:300px ;

}