<!doctype html>
<html>
<head>
    <title>Add an organization</title>
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='moneyessentialsfood.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
    <h1 class="for" >Add a organization or a private place to to</h1>
    <div class ="for1">
    <form method="post">
        <input type="text" name="organization_name" placeholder="Organization Name">
        <br>

        <p>Contact Info:</p>
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="adress" placeholder="Adress">	
        <input type="text" Name="phone_number" placeholder="Phone number">
        <br>
        <input type="text" Name="backround" placeholder="Write a little bit about the cause">

        <p>What donations do you need?</p>
        <input type="checkbox" name="donations" value="money">money
        <input type="checkbox" name="donations" value="essentials">essentials
        <input type="checkbox" name="donations" value="food">food
        <br>
        <input type="submit" value="Submit">
    </form>
    </div>
</body>
</html>