<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
	<link rel="shortcut icon" href="{{url_for('static' , filename = '18e4e749-8ff3-45fe-b988-5d43d873c812.png')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}"">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">

	{% include 'navbar.html' %}


</head>

<body>
	
	<div class="cont">
	<h1 class="contact-h1">CONTACT US</h1>
	<hr>		
	</div>
	<div class="names">
		<h2>NAMES</h2>
		</div>
	<div class="ournames">
		<p>Gaya Goldenberg
		   <br>
		   Orr Tsur
		   <br>
		   Sarah Alayan
		   <br>
		   Gilad Yosef
		   <br>
		   Laith Husseini</p>
	</div>
	<div class="emails">
		<h2>E-mail</h2>

		
	</div>
	<div class="themail">
		<br>
		<p>E-mail: <a href="mailto:team@gmail.com">team@gmail.com</a></p> 	
	</div>
	


<div class="send_message">
	<form>
	<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"> name:</span>
  </div>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2"></span>
  </div>
</div>

<label for="basic-url"></label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">phone number: </span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">E-mail</span>
  </div>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <div class="input-group-append">
    <span class="input-group-text">write us a message</span>
  </div>
</div>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text"></span>
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
</form>	
</div>

</body>
</html>