<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/vaakash/socializer/80391a50/css/socializer.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Donat.com</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<script src="https://cdn.rawgit.com/vaakash/socializer/80391a50/js/socializer.min.js"></script>
<script>
(function(){
    socializer( '.socializer' );
}());
</script>
<body>
	<div class="sr-sharebar sr-sb-vl sr-sb-left"><div class="socializer" data-features="32px,circle,opacity,vertical,icon-white,pad" data-sites="facebook,googleplus,print,email,rss" data-meta-link="" data-meta-title=""></div></div>
<div class="header">
	<h1>Donate.com</h1>
	<p>Donate to help save lives</p>
</div>
<div class="navbar">
	<a href="/">Home</a>
	<a href="about_us">About us</a>
	<a href="contact_us">Contact us</a>
     
   <div class="row">

  <div class="moneyc">
  <a href="money">Money</a></div>
  <div class="foodc">
  	<a href="food">Food</a></div>
  <div class="essentialsc">
  	<a href="essentials">Essentials</a></div>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>
    
</body>
</html>