<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
	<div class="header"></div>
	<div class="container"></div>
	<div class="navbar">
		<p>Home          About us          Contact us</p></div>
  
    <div class="maincontent"></div>
    	<div class="containermoney">
    		Money</div>
    		<div class="containerfood">
    			Food</div>
    			<div class="Containeressentials">
    				Essentials</div>
     
    
    
</body>
</html>