<!--<!DOCTYPE html>
<html>
<head>
	
	<style>

ul{
	font-family:"Times new Roman", Times, serif;
	color:white;
	list-style-type:none;
	margin:0;
	padding: 0;
	overflow:hidden;
	background-color: black;
	border:2px solid black;
}

li{
	float:left;
}

li a{
	display:block;
	color:black;
	text-align: center;
	padding: 14px 100px;
}
#navbar{
	padding-left: 250px;
}
li a.hover{
	background-color: white;
}
</style>
<title>Project</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='home.css'}}">
</head>
<body>
<ul id="navbar">
	<li><a href="homepage.html">Home</a></li>
	<li><a href="about_us.html">Aboutus</a></li>
	<li><a href="contact_us.html">Contact us</a></li>
</ul>
</body>
</html>-->